openapi: 3.1.0
info:
  title: ShapeShift API
  description: A unified API for cross-chain swaps, asset management, and blockchain data.
  version: "1.0.0"
  contact:
    name: ShapeShift Developer Support
    url: https://shapeshift.com/support
  license:
    name: MIT

servers:
  - url: https://api.shapeshift.com
    description: Production
  - url: http://localhost:3001
    description: Local

tags:
  - name: Chains
    description: Query supported blockchains and their metadata
  - name: Assets
    description: Browse and search supported assets with CAIP-19 identifiers
  - name: Swaps
    description: Get rates and generate executable swap quotes

paths:
  /v1/chains:
    get:
      operationId: getChains
      summary: List supported chains
      description: Returns a list of all blockchain networks currently supported by the ShapeShift API, sorted alphabetically.
      tags:
        - Chains
      responses:
        "200":
          description: Successfully retrieved the list of chains
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      $ref: "#/components/schemas/Chain"
                  timestamp:
                    type: number
              example:
                chains:
                  - chainId: "eip155:1"
                    name: "Ethereum"
                    type: "evm"
                    symbol: "ETH"
                    precision: 18
                    color: "#627EEA"
                    icon: "https://assets.coincap.io/assets/icons/eth.png"
                    explorer: "https://etherscan.io"
                    explorerAddressLink: "https://etherscan.io/address/"
                    explorerTxLink: "https://etherscan.io/tx/"
                    nativeAssetId: "eip155:1/slip44:60"
                  - chainId: "eip155:137"
                    name: "Polygon"
                    type: "evm"
                    symbol: "MATIC"
                    precision: 18
                    color: "#8247E5"
                    explorer: "https://polygonscan.com"
                    explorerAddressLink: "https://polygonscan.com/address/"
                    explorerTxLink: "https://polygonscan.com/tx/"
                    nativeAssetId: "eip155:137/slip44:966"
                timestamp: 1700000000

  /v1/chains/count:
    get:
      operationId: getChainsCount
      summary: Get chain count
      description: Returns the total number of supported blockchain networks.
      tags:
        - Chains
      responses:
        "200":
          description: Successfully retrieved the chain count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    example: 42
                  timestamp:
                    type: number

  /v1/assets:
    get:
      operationId: getAssets
      summary: List supported assets
      description: Returns a paginated list of all assets supported by the API.
      tags:
        - Assets
      parameters:
        - name: chainId
          in: query
          description: Filter by CAIP-2 chain ID
          required: false
          schema:
            type: string
            example: "eip155:1"
        - name: limit
          in: query
          description: Max results per page
          required: false
          schema:
            type: number
            default: 100
            minimum: 1
            maximum: 1000
            example: 100
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: number
            default: 0
            minimum: 0
            nullable: true
      responses:
        "200":
          description: Successfully retrieved assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Asset"
                  timestamp:
                    type: number

  /v1/assets/{assetId}:
    get:
      operationId: getAssetById
      summary: Get asset by ID
      description: Returns detailed information about a specific asset.
      tags:
        - Assets
      parameters:
        - name: assetId
          in: path
          description: CAIP-19 asset identifier (URL-encoded)
          required: true
          schema:
            type: string
            minLength: 1
            example: "eip155:1/slip44:60"
      responses:
        "200":
          description: Successfully retrieved asset details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
        "404":
          description: Asset not found

  /v1/swap/rates:
    get:
      operationId: getSwapRates
      summary: Get swap rates
      description: Queries multiple DEX aggregators and returns the best available rates.
      tags:
        - Swaps
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sellAssetId
          in: query
          description: CAIP-19 ID of asset to sell
          required: true
          schema:
            type: string
            minLength: 1
            example: "eip155:1/slip44:60"
        - name: buyAssetId
          in: query
          description: CAIP-19 ID of asset to buy
          required: true
          schema:
            type: string
            minLength: 1
            example: "eip155:1/erc20:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
        - name: sellAmountCryptoBaseUnit
          in: query
          description: Amount to sell in base units (wei, satoshi, etc.)
          required: true
          schema:
            type: string
            pattern: "^\\d+$"
            example: "1000000000000000000"
        - name: slippageTolerancePercentageDecimal
          in: query
          description: Slippage tolerance as a decimal (e.g. "0.01" for 1%)
          required: false
          schema:
            type: string
            pattern: "^(?:\\d+)(?:\\.\\d+)?$"
            example: "0.01"
        - name: allowMultiHop
          in: query
          description: Allow multi-hop swaps for better rates
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Successfully retrieved swap rates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/swap/quote:
    post:
      operationId: postSwapQuote
      summary: Get executable quote
      description: Generates executable transaction data for a swap. Quotes expire after a short time window.
      tags:
        - Swaps
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwapQuoteRequest"
      responses:
        "200":
          description: Successfully generated swap quote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
        "400":
          description: Invalid request
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your ShapeShift API key

  schemas:
    Chain:
      type: object
      required:
        - chainId
        - name
        - type
        - symbol
        - precision
        - color
        - explorer
        - explorerAddressLink
        - explorerTxLink
        - nativeAssetId
      properties:
        chainId:
          type: string
          description: CAIP-2 chain identifier
          example: "eip155:1"
        name:
          type: string
          example: "Ethereum"
        type:
          type: string
          enum: [evm, utxo, cosmos, solana, tron, sui, near, starknet, ton]
          description: The type of blockchain network
          example: "evm"
        symbol:
          type: string
          description: Native currency symbol
          example: "ETH"
        precision:
          type: number
          description: Decimal precision of the native currency
          example: 18
        color:
          type: string
          description: Brand color hex code
          example: "#627EEA"
        networkColor:
          type: string
          description: Network-specific color (optional)
        icon:
          type: string
          description: URL to chain icon
        networkIcon:
          type: string
          description: URL to network-specific icon (optional)
        explorer:
          type: string
          example: "https://etherscan.io"
        explorerAddressLink:
          type: string
          description: Base URL for address lookups
          example: "https://etherscan.io/address/"
        explorerTxLink:
          type: string
          description: Base URL for transaction lookups
          example: "https://etherscan.io/tx/"
        nativeAssetId:
          type: string
          description: CAIP-19 identifier of the chain's native asset
          example: "eip155:1/slip44:60"

    Asset:
      type: object
      required:
        - assetId
        - chainId
        - name
        - symbol
        - precision
        - color
        - icon
        - explorer
        - explorerAddressLink
        - explorerTxLink
      properties:
        assetId:
          type: string
          description: CAIP-19 asset identifier
          example: "eip155:1/slip44:60"
        chainId:
          type: string
          description: CAIP-2 chain identifier
          example: "eip155:1"
        name:
          type: string
          example: "Ethereum"
        symbol:
          type: string
          example: "ETH"
        precision:
          type: number
          description: Decimal precision
          example: 18
        color:
          type: string
          description: Brand color hex code
          example: "#627EEA"
        icon:
          type: string
          description: URL to asset icon
        explorer:
          type: string
          example: "https://etherscan.io"
        explorerAddressLink:
          type: string
          description: Base URL for address lookups
          example: "https://etherscan.io/address/"
        explorerTxLink:
          type: string
          description: Base URL for transaction lookups
          example: "https://etherscan.io/tx/"

    RateResponse:
      type: object
      required:
        - rates
        - timestamp
        - expiresAt
      properties:
        rates:
          type: array
          items:
            $ref: "#/components/schemas/Rate"
        timestamp:
          type: number
        expiresAt:
          type: number

    Rate:
      type: object
      required:
        - swapperName
        - rate
        - buyAmountCryptoBaseUnit
        - sellAmountCryptoBaseUnit
        - steps
        - affiliateBps
      properties:
        swapperName:
          type: string
          description: Name of the DEX aggregator or swapper
          example: "THORChain"
        rate:
          type: string
          example: "3245.67"
        buyAmountCryptoBaseUnit:
          type: string
          description: Amount of buy asset received in base units
        sellAmountCryptoBaseUnit:
          type: string
          description: Amount of sell asset spent in base units
        steps:
          type: number
          description: Number of steps in the swap route
        affiliateBps:
          type: string
          description: Affiliate fee in basis points
        estimatedExecutionTimeMs:
          type: number
          description: Estimated execution time in milliseconds
        priceImpactPercentageDecimal:
          type: string
          description: Price impact as a decimal percentage
        networkFeeCryptoBaseUnit:
          type: string
          description: Network fee in base units
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string

    SwapQuoteRequest:
      type: object
      required:
        - sellAssetId
        - buyAssetId
        - sellAmountCryptoBaseUnit
        - receiveAddress
        - swapperName
      properties:
        sellAssetId:
          type: string
          minLength: 1
          description: CAIP-19 ID of asset to sell
          example: "eip155:1/slip44:60"
        buyAssetId:
          type: string
          minLength: 1
          description: CAIP-19 ID of asset to buy
          example: "bip122:000000000019d6689c085ae165831e93/slip44:0"
        sellAmountCryptoBaseUnit:
          type: string
          minLength: 1
          description: Amount to sell in base units
          example: "1000000000000000000"
        receiveAddress:
          type: string
          minLength: 1
          description: Address to receive the bought asset
          example: "bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"
        swapperName:
          type: string
          minLength: 1
          description: Name of the swapper to use (from rates response)
          example: "Relay"
        sendAddress:
          type: string
          description: Address sending the sell asset (optional)
          example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
        slippageTolerancePercentageDecimal:
          type: string
          description: Slippage tolerance as a decimal
          example: "0.01"
        allowMultiHop:
          type: boolean
          description: Allow multi-hop swaps
          default: true
        accountNumber:
          type: number
          description: Account number for UTXO-based chains
          default: 0
          nullable: true

    QuoteResponse:
      type: object
      required:
        - quoteId
        - swapperName
        - rate
        - sellAsset
        - buyAsset
        - sellAmountCryptoBaseUnit
        - buyAmountBeforeFeesCryptoBaseUnit
        - buyAmountAfterFeesCryptoBaseUnit
        - affiliateBps
        - steps
        - expiresAt
      properties:
        quoteId:
          type: string
          format: uuid
          description: Unique quote identifier
        swapperName:
          type: string
          description: Name of the swapper
        rate:
          type: string
          description: Exchange rate
        sellAsset:
          $ref: "#/components/schemas/Asset"
        buyAsset:
          $ref: "#/components/schemas/Asset"
        sellAmountCryptoBaseUnit:
          type: string
        buyAmountBeforeFeesCryptoBaseUnit:
          type: string
        buyAmountAfterFeesCryptoBaseUnit:
          type: string
        affiliateBps:
          type: string
          description: Affiliate fee in basis points
        slippageTolerancePercentageDecimal:
          type: string
        steps:
          type: array
          items:
            $ref: "#/components/schemas/QuoteStep"
        expiresAt:
          type: number
          description: Unix timestamp when the quote expires

    QuoteStep:
      type: object
      required:
        - sellAsset
        - buyAsset
        - sellAmountCryptoBaseUnit
        - buyAmountAfterFeesCryptoBaseUnit
        - allowanceContract
        - source
      properties:
        sellAsset:
          $ref: "#/components/schemas/Asset"
        buyAsset:
          $ref: "#/components/schemas/Asset"
        sellAmountCryptoBaseUnit:
          type: string
        buyAmountAfterFeesCryptoBaseUnit:
          type: string
        allowanceContract:
          type: string
          description: Contract address for token approval
        estimatedExecutionTimeMs:
          type: number
        source:
          type: string
          description: The DEX or protocol used for this step
        transactionData:
          type: object
          required:
            - to
            - data
            - value
          properties:
            to:
              type: string
            data:
              type: string
            value:
              type: string
            gasLimit:
              type: string

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
