openapi: 3.0.0
info:
  version: "1.0.0"
  title: ShapeShift Public API
  description: |
    The ShapeShift Public API enables developers to integrate multi-chain swap functionality into their applications. Access rates from multiple DEX aggregators and execute swaps across supported blockchains.

    ## Integration Overview

    ### 1. Get Supported Chains
    First, fetch the list of supported blockchain networks:
    ```
    GET /v1/chains
    ```

    ### 2. Get Supported Assets
    Fetch the list of supported assets to populate your UI:
    ```
    GET /v1/assets
    ```

    ### 3. Get Swap Rates
    When a user wants to swap, fetch rates from all available swappers to find the best deal:
    ```
    GET /v1/swap/rates?sellAssetId=eip155:1/slip44:60&buyAssetId=eip155:1/erc20:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48&sellAmountCryptoBaseUnit=1000000000000000000
    ```
    This returns rates from THORChain, 0x, CoW Swap, and other supported swappers.

    ### 4. Get Executable Quote
    Once the user selects a rate, request an executable quote with transaction data:
    ```
    POST /v1/swap/quote
    {
      "sellAssetId": "eip155:1/slip44:60",
      "buyAssetId": "bip122:000000000019d6689c085ae165831e93/slip44:0",
      "sellAmountCryptoBaseUnit": "1000000000000000000",
      "swapperName": "Relay",
      "receiveAddress": "bc1q...",
      "sendAddress": "0x..."
    }
    ```

    ### 5. Execute the Swap
    Use the returned `transactionData` to build and sign a transaction with the user's wallet, then broadcast it to the network.

    ## Authentication
    Include your API key in the `X-API-Key` header for all swap endpoints.

    ## Asset IDs
    Assets use CAIP-19 format: `{chainId}/{assetNamespace}:{assetReference}`
    - Native ETH: `eip155:1/slip44:60`
    - USDC on Ethereum: `eip155:1/erc20:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48`
    - Native BTC: `bip122:000000000019d6689c085ae165831e93/slip44:0`

servers:
  - url: https://api.shapeshift.com
  - url: http://localhost:3001

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Asset:
      type: object
      required:
        - assetId
        - chainId
        - name
        - symbol
        - precision
        - color
        - icon
        - explorer
        - explorerAddressLink
        - explorerTxLink
      properties:
        assetId:
          type: string
          example: "eip155:1/slip44:60"
        chainId:
          type: string
          example: "eip155:1"
        name:
          type: string
          example: "Ethereum"
        symbol:
          type: string
          example: "ETH"
        precision:
          type: number
          example: 18
        color:
          type: string
          example: "#5C6BC0"
        icon:
          type: string
          example: "https://assets.coincap.io/assets/icons/eth@2x.png"
        explorer:
          type: string
          example: "https://etherscan.io"
        explorerAddressLink:
          type: string
          example: "https://etherscan.io/address/"
        explorerTxLink:
          type: string
          example: "https://etherscan.io/tx/"

    Chain:
      type: object
      required:
        - chainId
        - name
        - type
        - symbol
        - precision
        - color
        - explorer
        - explorerAddressLink
        - explorerTxLink
        - nativeAssetId
      properties:
        chainId:
          type: string
          example: "eip155:1"
        name:
          type: string
          example: "Ethereum"
        type:
          type: string
          enum:
            - evm
            - utxo
            - cosmos
            - solana
            - tron
            - sui
            - near
            - starknet
            - ton
          example: "evm"
        symbol:
          type: string
          example: "ETH"
        precision:
          type: number
          example: 18
        color:
          type: string
          example: "#5C6BC0"
        networkColor:
          type: string
          example: "#5C6BC0"
        icon:
          type: string
          example: "https://rawcdn.githack.com/trustwallet/assets/32e51d582a890b3dd3135fe3ee7c20c2fd699a6d/blockchains/ethereum/info/logo.png"
        networkIcon:
          type: string
          example: "https://rawcdn.githack.com/trustwallet/assets/32e51d582a890b3dd3135fe3ee7c20c2fd699a6d/blockchains/ethereum/info/logo.png"
        explorer:
          type: string
          example: "https://etherscan.io"
        explorerAddressLink:
          type: string
          example: "https://etherscan.io/address/"
        explorerTxLink:
          type: string
          example: "https://etherscan.io/tx/"
        nativeAssetId:
          type: string
          example: "eip155:1/slip44:60"

    QuoteStep:
      type: object
      required:
        - sellAsset
        - buyAsset
        - sellAmountCryptoBaseUnit
        - buyAmountAfterFeesCryptoBaseUnit
        - allowanceContract
        - source
      properties:
        sellAsset:
          $ref: "#/components/schemas/Asset"
        buyAsset:
          $ref: "#/components/schemas/Asset"
        sellAmountCryptoBaseUnit:
          type: string
          example: "1000000000000000000"
        buyAmountAfterFeesCryptoBaseUnit:
          type: string
          example: "995000000"
        allowanceContract:
          type: string
          example: "0xdef1c0ded9bec7f1a1670819833240f027b25eff"
        estimatedExecutionTimeMs:
          type: number
          example: 60000
        source:
          type: string
          example: "0x"
        transactionData:
          type: object
          required:
            - to
            - data
            - value
          properties:
            to:
              type: string
            data:
              type: string
            value:
              type: string
            gasLimit:
              type: string

    QuoteResponse:
      type: object
      required:
        - quoteId
        - swapperName
        - rate
        - sellAsset
        - buyAsset
        - sellAmountCryptoBaseUnit
        - buyAmountBeforeFeesCryptoBaseUnit
        - buyAmountAfterFeesCryptoBaseUnit
        - affiliateBps
        - steps
        - expiresAt
      properties:
        quoteId:
          type: string
          format: uuid
        swapperName:
          type: string
          example: "0x"
        rate:
          type: string
          example: "0.995"
        sellAsset:
          $ref: "#/components/schemas/Asset"
        buyAsset:
          $ref: "#/components/schemas/Asset"
        sellAmountCryptoBaseUnit:
          type: string
        buyAmountBeforeFeesCryptoBaseUnit:
          type: string
        buyAmountAfterFeesCryptoBaseUnit:
          type: string
        affiliateBps:
          type: string
          example: "10"
        slippageTolerancePercentageDecimal:
          type: string
          example: "0.01"
        steps:
          type: array
          items:
            $ref: "#/components/schemas/QuoteStep"
        expiresAt:
          type: number

    RateResponse:
      type: object
      required:
        - rates
        - timestamp
        - expiresAt
      properties:
        rates:
          type: array
          items:
            type: object
            required:
              - swapperName
              - rate
              - buyAmountCryptoBaseUnit
              - sellAmountCryptoBaseUnit
              - steps
              - affiliateBps
            properties:
              swapperName:
                type: string
              rate:
                type: string
              buyAmountCryptoBaseUnit:
                type: string
              sellAmountCryptoBaseUnit:
                type: string
              steps:
                type: number
              estimatedExecutionTimeMs:
                type: number
              priceImpactPercentageDecimal:
                type: string
              affiliateBps:
                type: string
              networkFeeCryptoBaseUnit:
                type: string
              error:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
        timestamp:
          type: number
        expiresAt:
          type: number

paths:
  /v1/chains:
    get:
      summary: List supported chains
      description: Get a list of all supported blockchain networks, sorted alphabetically by name.
      tags:
        - Chains
      responses:
        "200":
          description: List of chains
          content:
            application/json:
              schema:
                type: object
                required:
                  - chains
                  - timestamp
                properties:
                  chains:
                    type: array
                    items:
                      $ref: "#/components/schemas/Chain"
                  timestamp:
                    type: number

  /v1/chains/count:
    get:
      summary: Get chain count
      description: Get the total number of supported blockchain networks.
      tags:
        - Chains
      responses:
        "200":
          description: Chain count
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - timestamp
                properties:
                  count:
                    type: number
                    example: 28
                  timestamp:
                    type: number

  /v1/assets:
    get:
      summary: List supported assets
      description: Get a list of all supported assets, optionally filtered by chain.
      tags:
        - Assets
      parameters:
        - name: chainId
          in: query
          required: false
          schema:
            type: string
            example: "eip155:1"
        - name: limit
          in: query
          required: false
          schema:
            type: number
            minimum: 1
            maximum: 1000
            default: 100
            example: 100
        - name: offset
          in: query
          required: false
          schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
            example: 0
      responses:
        "200":
          description: List of assets
          content:
            application/json:
              schema:
                type: object
                required:
                  - assets
                  - timestamp
                properties:
                  assets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Asset"
                  timestamp:
                    type: number

  /v1/assets/{assetId}:
    get:
      summary: Get asset by ID
      description: Get details of a specific asset by its ID (URL encoded).
      tags:
        - Assets
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            minLength: 1
            example: "eip155:1/slip44:60"
      responses:
        "200":
          description: Asset details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
        "404":
          description: Asset not found

  /v1/swap/rates:
    get:
      summary: Get swap rates
      description: Get informative swap rates from all available swappers. This does not create a transaction.
      tags:
        - Swaps
      security:
        - apiKeyAuth: []
      parameters:
        - name: sellAssetId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            example: "eip155:1/slip44:60"
        - name: buyAssetId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            example: "eip155:1/erc20:0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
        - name: sellAmountCryptoBaseUnit
          in: query
          required: true
          schema:
            type: string
            pattern: "^\\d+$"
            example: "1000000000000000000"
        - name: slippageTolerancePercentageDecimal
          in: query
          required: false
          schema:
            type: string
            pattern: "^(?:\\d+)(?:\\.\\d+)?$"
            example: "0.01"
        - name: allowMultiHop
          in: query
          required: false
          schema:
            type: boolean
            default: true
            example: true
      responses:
        "200":
          description: Swap rates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateResponse"
        "400":
          description: Invalid request

  /v1/swap/quote:
    post:
      summary: Get executable quote
      description: Get an executable quote for a swap, including transaction data. Requires a specific swapper name.
      tags:
        - Swaps
      security:
        - apiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - sellAssetId
                - buyAssetId
                - sellAmountCryptoBaseUnit
                - receiveAddress
                - swapperName
              properties:
                sellAssetId:
                  type: string
                  minLength: 1
                  example: "eip155:1/slip44:60"
                buyAssetId:
                  type: string
                  minLength: 1
                  example: "bip122:000000000019d6689c085ae165831e93/slip44:0"
                sellAmountCryptoBaseUnit:
                  type: string
                  minLength: 1
                  example: "1000000000000000000"
                receiveAddress:
                  type: string
                  minLength: 1
                  example: "bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"
                sendAddress:
                  type: string
                  example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                swapperName:
                  type: string
                  minLength: 1
                  example: "Relay"
                slippageTolerancePercentageDecimal:
                  type: string
                  example: "0.01"
                allowMultiHop:
                  type: boolean
                  default: true
                  example: true
                accountNumber:
                  type: number
                  nullable: true
                  default: 0
                  example: 0
      responses:
        "200":
          description: Swap quote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
        "400":
          description: Invalid request or unavailable swapper
